In [1]:
import pygmt

In [2]:
pygmt.datasets.list_sample_data()

{'bathymetry': 'Table of ship bathymetric observations off Baja California',
 'fractures': 'Table of hypothetical fracture lengths and azimuths',
 'hotspots': 'Table of locations, names, and symbol sizes of hotpots from  Mueller et al., 1993',
 'japan_quakes': 'Table of earthquakes around Japan from NOAA NGDC database',
 'mars_shape': 'Table of topographic signature of the hemispheric dichotomy of  Mars from Smith and Zuber (1996)',
 'ocean_ridge_points': 'Table of ocean ridge points for the entire world',
 'table511': 'Table 5.11 in Davis: Statistics and Data Analysis in Geology.',
 'usgs_quakes': 'Table of global earthquakes from the USGS'}

In [3]:
data = pygmt.datasets.load_sample_data("table511")

In [6]:
data.shape

(52, 3)

In [7]:
summary = data.describe()

In [8]:
summary

               x          y           z
count  52.000000  52.000000   52.000000
mean    3.319231   3.211538  827.076923
std     1.877633   1.986094   61.997738
min     0.200000   0.000000  690.000000
25%     1.925000   1.550000  787.500000
50%     3.250000   3.300000  830.000000
75%     4.975000   4.850000  873.000000
max     6.300000   6.200000  960.000000